<form class="" action="/upload" method="post" ref='uploadForm' encType="multipart/form-data">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">New song:</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="new_folder">
      </div>
    </div>
    <select class="custom-select" name="exist_folder">
      <option value="">Exist folder</option>
      {{# each folders}}
        <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
    <input type="file" name="song" style="margin: 5px">
    <input type="submit" class="btn btn-primary" value="Upload">
  </div>
</form>
